/* line 12, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

/* line 22, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
body {
  margin: 0; }

/* line 28, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
main {
  display: block; }

/* line 35, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 46, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/* line 55, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* line 65, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
a {
  background-color: transparent; }

/* line 72, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/* line 80, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
b,
strong {
  font-weight: bolder; }

/* line 88, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 97, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
small {
  font-size: 80%; }

/* line 104, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 112, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 116, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
sup {
  top: -0.5em; }

/* line 125, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
img {
  border-style: none; }

/* line 136, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

/* line 150, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
button,
input {
  overflow: visible; }

/* line 158, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 165, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/* line 174, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 184, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 193, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/* line 202, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/* line 213, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
progress {
  vertical-align: baseline; }

/* line 219, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
textarea {
  overflow: auto; }

/* line 227, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 235, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 243, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/* line 250, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 257, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* line 267, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
details {
  display: block; }

/* line 273, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
summary {
  display: list-item; }

/* line 282, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
template {
  display: none; }

/* line 288, ../../../Documents/Netmatters/Portfolio/scss/base/_normalize.scss */
[hidden] {
  display: none; }

/* line 1, ../../../Documents/Netmatters/Portfolio/scss/base/_base.scss */
* {
  box-sizing: border-box; }

/* line 5, ../../../Documents/Netmatters/Portfolio/scss/base/_base.scss */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff; }

/* line 12, ../../../Documents/Netmatters/Portfolio/scss/base/_base.scss */
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 18, ../../../Documents/Netmatters/Portfolio/scss/base/_base.scss */
a {
  text-decoration: none;
  color: #fff; }

/* line 3, ../../../Documents/Netmatters/Portfolio/scss/layout/_layout.scss */
.site__container {
  display: flex;
  flex-direction: row; }

/* line 9, ../../../Documents/Netmatters/Portfolio/scss/layout/_layout.scss */
.container {
  margin: 1em; }

/* line 14, ../../../Documents/Netmatters/Portfolio/scss/layout/_layout.scss */
.main {
  display: flex;
  flex-direction: column;
  width: 100%; }

/* line 3, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
.header {
  display: none;
  background-image: url(../img/header-star.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 12.5em;
  min-height: 100vh;
  text-align: center;
  border-right: 1px solid #00FFFF; }
  @media (min-width: 768px) {
    /* line 3, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header {
      display: block; } }
  /* line 22, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
  .header__logo, .header__nav, .header__socials {
    display: flex;
    justify-content: center; }
  /* line 26, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
  .header__logo {
    height: 9.375em;
    border-bottom: 1px solid #00FFFF;
    align-items: center; }
    /* line 31, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header__logo-link {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.75em 0.8125em;
      border: 1px solid transparent;
      border-radius: 0.3125em; }
      /* line 37, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
      .header__logo-link:hover {
        text-shadow: 0 0 10px #00FFFF;
        border-color: #00FFFF;
        background-color: #000; }
  /* line 43, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
  .header__nav {
    height: 15.125em;
    border-bottom: 1px solid #00FFFF; }
    /* line 47, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header__nav-list {
      margin: 0.9375em 0;
      width: 85%; }
    /* line 52, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header__nav-item {
      margin-bottom: 0.625em;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.3125em;
      border: 3px solid transparent;
      border-radius: 0.3125em; }
      /* line 59, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
      .header__nav-item:hover {
        text-shadow: 0 0 10px #00FFFF;
        border-color: #00FFFF;
        background-color: #000; }
        /* line 61, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
        .header__nav-item:hover::before {
          content: '->';
          color: #00FFFF; }
        /* line 65, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
        .header__nav-item:hover::after {
          content: '<-';
          color: #00FFFF; }
  /* line 75, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
  .header__socials {
    height: 6.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.875em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.3125em;
    margin: 0.9375em;
    width: 85%; }
    /* line 87, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header__socials > a .github-icon {
      font-size: 2.1875em; }
      /* line 67, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .header__socials > a .github-icon:hover {
        color: #6cc644;
        text-shadow: 0 0 15px #6cc644; }
    /* line 88, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header__socials > a .linkedin-icon {
      font-size: 2.1875em; }
      /* line 72, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .header__socials > a .linkedin-icon:hover {
        color: #0072b1;
        text-shadow: 0 0 15px #0072b1; }
  /* line 94, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
  .header__copyright {
    border-bottom: 1px solid #00FFFF;
    border-top: 1px solid #00FFFF;
    padding: 0.9375em 0;
    font-size: 0.875em; }
    /* line 100, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header__copyright-1, .header__copyright-2 {
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0 1.0625em;
      width: 85%; }
    /* line 106, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header__copyright-1 {
      padding: 0.3125em 0 0 0;
      border-top-left-radius: 0.3125em;
      border-top-right-radius: 0.3125em; }
    /* line 112, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header__copyright-2 {
      padding: 0 0 0.3125em 0;
      border-bottom-left-radius: 0.3125em;
      border-bottom-right-radius: 0.3125em; }
  /* line 119, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
  .header__excess {
    display: flex;
    justify-content: center; }
  /* line 124, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
  .header__button {
    position: absolute;
    bottom: 0;
    width: 85%;
    border: 3px solid #00FFFF;
    border-radius: 0.3125em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.625em;
    margin-bottom: 0.9375em;
    cursor: pointer; }
    /* line 136, ../../../Documents/Netmatters/Portfolio/scss/sections/_header.scss */
    .header__button:hover {
      background-color: #00FFFF;
      color: #000;
      font-weight: 600;
      box-shadow: 0 0 15px #00FFFF; }

/* line 7, ../../../Documents/Netmatters/Portfolio/scss/sections/_hero.scss */
.hero__section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/black-hole.gif), url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid #00FFFF; }
  /* line 139, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .hero__section .hamburger {
    display: flex;
    flex-direction: column;
    width: 4.375em;
    border-radius: 0.3125em;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.9375em; }
    @media (min-width: 768px) {
      /* line 139, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .hero__section .hamburger {
        display: none; } }
    /* line 157, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
    .hero__section .hamburger > span {
      background: #00FFFF;
      border-radius: 0.625em;
      height: 0.4375em;
      margin: 0.4375em 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
      /* line 164, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .hero__section .hamburger > span:nth-of-type(1) {
        width: 50%; }
      /* line 168, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .hero__section .hamburger > span:nth-of-type(2) {
        width: 100%; }
      /* line 172, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .hero__section .hamburger > span:nth-of-type(3) {
        width: 75%; }
  /* line 178, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .hero__section input[type="checkbox"] {
    display: none; }
  /* line 182, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .hero__section input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px); }
  /* line 187, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .hero__section input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg); }
  /* line 192, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .hero__section input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg); }

/* line 24, ../../../Documents/Netmatters/Portfolio/scss/sections/_hero.scss */
.hero__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.875em;
  align-items: center;
  text-align: center;
  color: #000;
  text-shadow: 0 0 15px #00FFFF; }
  /* line 33, ../../../Documents/Netmatters/Portfolio/scss/sections/_hero.scss */
  .hero__content > h2 {
    font-size: 1.875em;
    width: fit-content;
    padding: 0.3125em;
    border-radius: 0.3125em;
    background-color: rgba(0, 0, 0, 0.5); }
  /* line 38, ../../../Documents/Netmatters/Portfolio/scss/sections/_hero.scss */
  .hero__content > p {
    width: fit-content;
    padding: 0.3125em;
    border-radius: 0.3125em;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.25em; }

/* line 7, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
.project__section {
  border-bottom: 1px solid #00FFFF;
  padding-bottom: 1.875em;
  background-image: url(../img/eclipse.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
.project__heading {
  text-align: center;
  font-size: 1.875em;
  margin: 0.9375em 0;
  padding: 0.3125em;
  background-color: #000;
  border: 3px solid #00FFFF;
  border-radius: 0.3125em;
  margin: 0.9375em 0.625em;
  color: #00FFFF; }

/* line 25, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
.project__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.875em;
  column-gap: 1.875em;
  margin: 0 1.25em;
  flex-wrap: wrap; }
  @media (min-width: 576px) {
    /* line 25, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
    .project__content {
      flex-direction: row; } }

/* line 41, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
.project__item {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  border: 3px solid #00FFFF;
  border-radius: 0.3125em;
  padding-bottom: 0.625em; }
  /* line 48, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
  .project__item:hover {
    box-shadow: 0 0 15px #00FFFF;
    background-color: #000; }
    /* line 51, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
    .project__item:hover .project__title {
      text-shadow: 0 0 15px #00FFFF; }
    /* line 54, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
    .project__item:hover .project__desc {
      color: #00FFFF; }
  @media (min-width: 576px) {
    /* line 41, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
    .project__item {
      width: 47%; } }
  @media (min-width: 1200px) {
    /* line 41, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
    .project__item {
      width: 31%; } }

/* line 70, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
.project__title {
  font-size: 1.875em; }

/* line 76, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
.project__text {
  display: flex;
  flex-direction: column;
  row-gap: 0.625em;
  margin: 0.625em 0.625em; }

/* line 85, ../../../Documents/Netmatters/Portfolio/scss/sections/_projects.scss */
.project__img {
  width: 100%;
  border-bottom: 1px solid #00FFFF;
  border-top-left-radius: 0.3125em;
  border-top-right-radius: 0.3125em; }

/* line 7, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.contact__section {
  text-align: center;
  background-image: url(../img/nebula.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 45.3125em; }

/* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.contact__title {
  font-size: 1.875em;
  margin: 0.9375em 0;
  padding: 0.3125em;
  background-color: #000;
  border: 3px solid #00FFFF;
  border-radius: 0.3125em;
  color: #00FFFF; }

/* line 23, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.contact__subtitle {
  font-size: 1.25em;
  margin: 0.9375em 0;
  padding: 0.3125em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.3125em;
  color: #fff;
  text-shadow: 0 0 10px #00FFFF;
  font-weight: 600; }

/* line 32, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.625em; }

/* line 42, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.contact__input {
  width: 100%;
  border: 3px solid #00FFFF;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0.3125em;
  padding: 0.3125em 0.625em;
  resize: none; }
  /* line 51, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
  .contact__input:focus {
    outline: none;
    box-shadow: 0 0 10px #00FFFF;
    background-color: #000; }

/* line 60, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.contact__label {
  color: #fff;
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3125em;
  border-radius: 0.3125em;
  cursor: pointer;
  display: flex; }

/* line 73, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.contact__button {
  width: 100%;
  margin: 0.625em 0 1.125em 0;
  padding: 0.625em;
  border: 3px solid #00FFFF;
  border-radius: 0.3125em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #00FFFF;
  cursor: pointer; }
  /* line 83, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
  .contact__button:hover {
    background-color: #00FFFF;
    color: #000;
    font-weight: 600;
    box-shadow: 0 0 15px #00FFFF; }
  @media (min-width: 768px) {
    /* line 73, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
    .contact__button {
      margin-bottom: 0; } }

/* line 95, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.contact__message {
  font-size: 1.25em;
  margin: 0.9375em 0;
  padding: 0.3125em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.3125em;
  margin: 0.625em 0 0.9375em 0;
  padding: 0.40625em;
  width: 100%;
  border: 3px solid transparent; }
  @media (min-width: 768px) {
    /* line 95, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
    .contact__message {
      margin-bottom: 0; } }

/* line 107, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.contact__error {
  align-self: flex-start;
  color: #EE4B2B;
  padding: 0.3125em;
  margin-left: 0.9375em;
  background-color: #000;
  border-radius: 0.3125em;
  text-shadow: 0 0 10px #EE4B2B; }

/* line 118, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.label__container {
  display: flex;
  align-self: flex-start; }

/* line 125, ../../../Documents/Netmatters/Portfolio/scss/sections/_contact.scss */
.required::after {
  content: ' *';
  color: red; }

/* line 7, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
.about__section {
  text-align: center;
  background-image: url(../img/milky-way.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh; }

/* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
.about__header {
  height: 9.375em;
  border-bottom: 1px solid #00FFFF;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1em;
  background-image: url(../img/earth.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media (min-width: 576px) {
    /* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
    .about__header {
      padding-right: 0; } }
  /* line 139, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .about__header .hamburger {
    display: flex;
    flex-direction: column;
    width: 4.375em;
    border-radius: 0.3125em;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 25px;
    margin: 0.9375em; }
    @media (min-width: 768px) {
      /* line 139, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .about__header .hamburger {
        display: none; } }
    /* line 157, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
    .about__header .hamburger > span {
      background: #00FFFF;
      border-radius: 0.625em;
      height: 0.4375em;
      margin: 0.4375em 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
      /* line 164, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .about__header .hamburger > span:nth-of-type(1) {
        width: 50%; }
      /* line 168, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .about__header .hamburger > span:nth-of-type(2) {
        width: 100%; }
      /* line 172, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .about__header .hamburger > span:nth-of-type(3) {
        width: 75%; }
  /* line 178, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .about__header input[type="checkbox"] {
    display: none; }
  /* line 182, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .about__header input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px); }
  /* line 187, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .about__header input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg); }
  /* line 192, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .about__header input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg); }
  @media (min-width: 576px) {
    /* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
    .about__header {
      justify-content: center; } }

/* line 28, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
.about__title {
  font-size: 1.875em;
  margin: 0.9375em 0;
  padding: 0.3125em;
  background-color: #000;
  border: 3px solid #00FFFF;
  border-radius: 0.3125em;
  color: #00FFFF; }

/* line 35, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
.about__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.875em; }

/* line 43, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
.about__item {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #00FFFF;
  border-radius: 0.3125em;
  padding: 1.875em; }
  /* line 95, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .about__item:hover {
    background-color: #000;
    box-shadow: 0 0 15px #00FFFF; }
  /* line 100, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .about__item-title {
    color: #00FFFF;
    margin-bottom: 0.9375em; }
  /* line 46, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
  .about__item-title {
    font-size: 1.875em; }
  /* line 50, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
  .about__item-content {
    margin-bottom: 1.25em; }

/* line 57, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
.about-link {
  color: #00FFFF; }
  /* line 59, ../../../Documents/Netmatters/Portfolio/scss/sections/_about.scss */
  .about-link:hover {
    text-decoration: underline;
    text-decoration-color: #00FFFF; }

/* line 7, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
.coding__section {
  text-align: center;
  background-image: url(../img/earth-center.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh; }

/* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
.coding__header {
  height: 9.375em;
  border-bottom: 1px solid #00FFFF;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1em;
  background-image: url(../img/helix.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media (min-width: 576px) {
    /* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
    .coding__header {
      padding-right: 0; } }
  /* line 139, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .coding__header .hamburger {
    display: flex;
    flex-direction: column;
    width: 4.375em;
    border-radius: 0.3125em;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 25px;
    margin: 0.9375em; }
    @media (min-width: 768px) {
      /* line 139, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .coding__header .hamburger {
        display: none; } }
    /* line 157, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
    .coding__header .hamburger > span {
      background: #00FFFF;
      border-radius: 0.625em;
      height: 0.4375em;
      margin: 0.4375em 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
      /* line 164, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .coding__header .hamburger > span:nth-of-type(1) {
        width: 50%; }
      /* line 168, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .coding__header .hamburger > span:nth-of-type(2) {
        width: 100%; }
      /* line 172, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .coding__header .hamburger > span:nth-of-type(3) {
        width: 75%; }
  /* line 178, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .coding__header input[type="checkbox"] {
    display: none; }
  /* line 182, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .coding__header input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px); }
  /* line 187, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .coding__header input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg); }
  /* line 192, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .coding__header input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg); }
  @media (min-width: 576px) {
    /* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
    .coding__header {
      justify-content: center; } }

/* line 28, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
.coding__title {
  color: #00FFFF;
  font-size: 1.875em;
  margin: 0.9375em 0;
  padding: 0.3125em;
  background-color: #000;
  border: 3px solid #00FFFF;
  border-radius: 0.3125em; }

/* line 35, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
.coding__item {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #00FFFF;
  border-radius: 0.3125em;
  padding: 1.875em;
  margin-bottom: 1.875em; }
  /* line 95, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .coding__item:hover {
    background-color: #000;
    box-shadow: 0 0 15px #00FFFF; }
  /* line 100, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .coding__item-title {
    color: #00FFFF;
    margin-bottom: 0.9375em; }
  /* line 39, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
  .coding__item-title {
    font-size: 1.875em; }

/* line 44, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
.coding__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.875em;
  text-align: left; }

/* line 52, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
.coding__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media (min-width: 1200px) {
    /* line 52, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
    .coding__wrapper {
      flex-direction: row; } }

/* line 63, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
.coding__snippet {
  margin-bottom: 1.875em;
  border: 3px solid #00FFFF;
  border-radius: 0.3125em; }
  @media (min-width: 1200px) {
    /* line 63, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
    .coding__snippet {
      margin-right: 1.875em; } }

/* line 75, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
.snip-1, .snip-2, .snip-3, .snip-4, .snip-5 {
  width: 100%; }
  @media (min-width: 1200px) {
    /* line 75, ../../../Documents/Netmatters/Portfolio/scss/sections/_examples.scss */
    .snip-1, .snip-2, .snip-3, .snip-4, .snip-5 {
      width: 32.8125em; } }

/* line 7, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
.scs__section {
  text-align: center;
  background-image: url(../img/singularity.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh; }

/* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
.scs__header {
  height: 9.375em;
  border-bottom: 1px solid #00FFFF;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1em;
  background-image: url(../img/supernova.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media (min-width: 576px) {
    /* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
    .scs__header {
      padding-right: 0; } }
  /* line 139, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .scs__header .hamburger {
    display: flex;
    flex-direction: column;
    width: 4.375em;
    border-radius: 0.3125em;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 25px;
    margin: 0.9375em; }
    @media (min-width: 768px) {
      /* line 139, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .scs__header .hamburger {
        display: none; } }
    /* line 157, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
    .scs__header .hamburger > span {
      background: #00FFFF;
      border-radius: 0.625em;
      height: 0.4375em;
      margin: 0.4375em 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
      /* line 164, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .scs__header .hamburger > span:nth-of-type(1) {
        width: 50%; }
      /* line 168, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .scs__header .hamburger > span:nth-of-type(2) {
        width: 100%; }
      /* line 172, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
      .scs__header .hamburger > span:nth-of-type(3) {
        width: 75%; }
  /* line 178, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .scs__header input[type="checkbox"] {
    display: none; }
  /* line 182, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .scs__header input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px); }
  /* line 187, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .scs__header input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg); }
  /* line 192, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .scs__header input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg); }
  @media (min-width: 576px) {
    /* line 16, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
    .scs__header {
      justify-content: center; } }

/* line 28, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
.scs__title {
  color: #00FFFF;
  font-size: 1.875em;
  margin: 0.9375em 0;
  padding: 0.3125em;
  background-color: #000;
  border: 3px solid #00FFFF;
  border-radius: 0.3125em; }

/* line 35, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
.scs__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.875em; }

/* line 43, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
.scs__item {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #00FFFF;
  border-radius: 0.3125em;
  padding: 1.875em; }
  /* line 95, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .scs__item:hover {
    background-color: #000;
    box-shadow: 0 0 15px #00FFFF; }
  /* line 100, ../../../Documents/Netmatters/Portfolio/scss/utilities/_mixins.scss */
  .scs__item-title {
    color: #00FFFF;
    margin-bottom: 0.9375em; }
  /* line 46, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
  .scs__item-title {
    font-size: 1.875em; }
  /* line 50, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
  .scs__item > p, .scs__item > ul > li {
    margin-bottom: 0.625em; }

/* line 58, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
.scs__treehouse {
  color: #00FFFF; }
  /* line 60, ../../../Documents/Netmatters/Portfolio/scss/sections/_scs.scss */
  .scs__treehouse:hover {
    text-decoration: underline; }

/* line 4, ../../../Documents/Netmatters/Portfolio/scss/sections/_mobile.scss */
.mobile__scroll {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #00FFFF;
  border-radius: 0.3125em;
  color: #fff;
  padding: 0.625em;
  cursor: pointer; }
  /* line 13, ../../../Documents/Netmatters/Portfolio/scss/sections/_mobile.scss */
  .mobile__scroll:hover {
    background-color: #00FFFF;
    color: #000;
    font-weight: 600;
    box-shadow: 0 0 15px #00FFFF; }
  @media (min-width: 768px) {
    /* line 4, ../../../Documents/Netmatters/Portfolio/scss/sections/_mobile.scss */
    .mobile__scroll {
      display: none; } }

/*# sourceMappingURL=style.css.map */