.about {
    &__section {
        text-align: center;
        background-image: url(../img/milky-way.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__header {
        @include sibling-page-header-styles();
        background-image: url(../img/earth.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__title {
        color: $aqua;
        background-color: rgba($color: $black, $alpha: 0.5);
        border-radius: em(3px);
        padding: em(5px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: em(30px);
    }

    &__item {
        background-color: rgba($color: $black, $alpha: 0.5);
        border: 1px solid $aqua;
        border-radius: em(5px);
        padding: em(30px);

        &-title {
            color: $aqua;
            margin-bottom: em(15px);
        }

        &-content {
            margin-bottom: em(20px);
        }
    }
    &-link {
        color: $aqua;
        &:hover {
            text-decoration: underline;
            text-decoration-color: $aqua;
        }
    }
}