// Handles styling for the about me page (about.html)

.about {

    // Containing section

    &__section {
        text-align: center;
        background-image: url(../img/milky-way.jpg);
        @include background-image-styles();
        min-height: 100vh;
    }

    // Horizontal page header

    &__header {
        @include sibling-page-header-styles();
        background-image: url(../img/earth.jpg);
        @include background-image-styles();
        @include hamburger-icon-styles(25px)
    }

    // Page header title

    &__title {
        @include section-title-styles();
        color: $aqua;
    }

    // Content container

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: em(30px);
    }

    // Page items (divs)

    &__item {
        @include page-item-div-styles();

        &-title {
            font-size: em(30px);
        }

        &-content {
            margin-bottom: em(20px);
        }
    }

    // SCS link
    
    &-link {
        color: $aqua;
        &:hover {
            text-decoration: underline;
            text-decoration-color: $aqua;
        }
    }
}

