.about {
    &__section {
        text-align: center;
        background-image: url(../img/milky-way.jpg);
        @include background-image-styles();
        min-height: 100vh;
    }

    &__header {
        @include sibling-page-header-styles();
        background-image: url(../img/earth.jpg);
        @include background-image-styles();
    }

    &__title {
        @include section-title-styles();
        color: $aqua;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: em(30px);
    }

    &__item {
        @include page-item-div-styles();

        &-content {
            margin-bottom: em(20px);
        }
    }
    &-link {
        color: $aqua;
        &:hover {
            text-decoration: underline;
            text-decoration-color: $aqua;
        }
    }
}