.coding {
    &__section {
        text-align: center;
        background-image: url(../img/supernova.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__header {
        @include sibling-page-header-styles();
        background-image: url(../img/singularity.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__title {
        color: $aqua;
        border-radius: em(3px);
        background-color: rgba($color: $black, $alpha: 0.5);
        padding: em(5px);
    }
}