.coding {
    &__section {
        text-align: center;
    }

    &__header {
        @include sibling-page-header-styles();
        background-image: url(../img/singularity.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__title {
        color: $aqua;
    }
}