// Handles styling of vertical header visible on all pages above a certain breakpoint.

.header {
    // Don't display the vertical header on mobile devices
    display: none;

    background-image: url(../img/header-star-min.jpg);
    @include background-image-styles();

    // Display the vertical header when small breakpoint reached
    @include media-query (medium) {
        display: block;
    }

    // Some initial values
    min-width: em(200px);
    min-height: 100vh;
    text-align: center;
    border-right: 1px solid $aqua;

    // Flex containers, apply default flex template
    &__logo, &__nav, &__socials { @include flex-template(); }

    // Logo

    &__logo {
        height: em(150px);
        border-bottom: 1px solid $aqua;
        align-items: center;

        &-link {
            background-color: rgba($color: $black, $alpha: 0.5);
            padding: em(12px) em(13px);
            border: 1px solid transparent;
            border-radius: em(5px);

            &:hover {@include header-hover-styles();}
        }
    }

    // Navigation

    &__nav {
        height: em(242px);
        border-bottom: 1px solid $aqua;

        &-list { 
            margin: em(15px) 0;
            width: 85%
        }

        &-item {
            margin-bottom: em(10px);
            background-color: rgba($color: $black, $alpha: 0.5);
            padding: em(5px);
            border: 3px solid transparent;
            border-radius: em(5px);

            &:hover { 
                @include header-hover-styles(); 
                &::before {
                    content: '->';
                    color: $aqua;
                }
                &::after {
                    content: '<-';
                    color: $aqua;
                }
            }
        }
    }

    // Social Links

    &__socials {
        height: em(100px);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: em(30px);
        background-color: rgba($color: $black, $alpha: 0.5);
        border-radius: em(5px);
        margin: em(15px);
        width: 85%;

        & > a {
            .github-icon {@include social-styles(github);}
            .linkedin-icon {@include social-styles(linkedin);}
        } 
    }

    // Copyright

    &__copyright {
        border-bottom: 1px solid $aqua;
        border-top: 1px solid $aqua;
        padding: em(15px) 0;
        font-size: em(14px);

        &-1, &-2 {
            background-color: rgba($color: $black, $alpha: 0.5);
            margin: 0 em(17px);
            width: 85%;
        }

        &-1 {
            padding: em(5px) 0 0 0;
            border-top-left-radius: em(5px);
            border-top-right-radius: em(5px);
        }

        &-2 {
            padding: 0 0 em(5px) 0;
            border-bottom-left-radius: em(5px);
            border-bottom-right-radius: em(5px); 
        }
    }

    &__excess {
        display: flex;
        justify-content: center;
    }

    &__button {
        position: absolute;
        bottom: 0;
        width: 85%;
        border: 3px solid $aqua;
        border-radius: em(5px);
        background-color: rgba($color: $black, $alpha: 0.5);
        color: $white;
        padding: em(10px);
        margin-bottom: em(25px);
        cursor: pointer;

        &:hover {
            background-color: $aqua;
            color: $black;
            font-weight: $font-weight--bold;
            box-shadow: 0 0 15px $aqua;
        }
    }
}

