// Handles the hero section on the homepage (index.html)

.hero {

    // Section container

    &__section {
        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url(../img/black-hole.gif), url(../img/hero.jpg);
        @include background-image-styles();
        height: 100vh;
        width: 100%;

        border-bottom: 1px solid $aqua;
    }

    // Handles the content over the hero image (the text)

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: em(30px);
        align-items: center;
        text-align: center;
        color: $black;
        text-shadow: 0 0 15px $aqua;

        & > h2 {
            font-size: em(30px);
            @include hero-text-styling();
        }
        
        & > p {
            @include hero-text-styling();
            font-size: em(20px);
        }
    }
}

// Handles the animated hamburger menu checkbox

.hamburger {
    display:flex;
    flex-direction:column;
    width: em(70px);
    border-radius: em(5px);
    cursor:pointer;
    position: absolute;
    left: 0;
    top: 0;
    margin: em(15px);

    & > span {
        background: $aqua;
        border-radius: em(10px);
        height: em(7px);
        margin: em(7px) 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

        &:nth-of-type(1) {
            width: 50%;
        }

        &:nth-of-type(2) {
            width: 100%;
        }

        &:nth-of-type(3) {
            width: 75%;
        }
    }
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin:bottom;
    transform:rotatez(45deg) translate(8px,0px)
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin:top;
    transform:rotatez(-45deg)
}
  
input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);
}