.project {

    &__section {
        border-bottom: 1px solid $aqua;
        padding-bottom: em(30px);
        background-image: url(../img/eclipse.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__heading {
        text-align: center;
        margin: em(15px);
        background-color: rgba($color: $black, $alpha: 0.5);
        border-radius: em(3px);
        color: $aqua;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: em(30px);
        column-gap: em(30px);
        flex-wrap: wrap;

        @include media-query (small) {
            flex-direction: row;
        }
    }

    &__item  {
        background-color: rgba($color: $black, $alpha: 0.5);
        display: flex;
        border: 1px solid $aqua;
        border-radius: em(5px);
        padding-bottom: em(10px);

        &:hover {
            box-shadow: 0 0 15px $aqua;
            background-color: $black;
        }

        @include media-query (small) {
            width: 47%;
        }

        @include media-query (large) {
            width: 29%;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: em(10px);
        margin: em(10px) em(10px);
    }

    &__img {
        width: 100%;
        border-bottom: 1px solid $aqua;
        border-top-left-radius: em(5px);
        border-top-right-radius: em(5px);
    }
}