// Handles styling for the project section on the homepage (index.html)

.project {

    // Section container

    &__section {
        border-bottom: 1px solid $aqua;
        padding-bottom: em(30px);
        background-image: url(../img/eclipse.jpg);
        @include background-image-styles();
    }

    // Section title

    &__heading {
        text-align: center;
        @include section-title-styles();
        margin: em(15px) em(10px);
        color: $aqua;
    }

    // Section content container

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: em(30px);
        column-gap: em(30px);
        margin: 0 em(20px);
        flex-wrap: wrap;

        @include media-query (small) {
            flex-direction: row;
        }
    }

    // The individual project cards

    &__item  {
        background-color: $black;
        display: flex;
        border: 3px solid $aqua;
        border-radius: em(5px);
        padding-bottom: em(10px);

        &:hover {
            box-shadow: 0 0 15px $aqua;
            .project__title {
                text-shadow: 0 0 15px $aqua;
            }
            .project__desc {
                color: $aqua;
            }
        }

        @include media-query (small) {
            width: 47%;
        }

        @include media-query (x-large) {
            width: 31%;
        }
    }

    // The project card titles

    &__title {
        font-size: em(30px);
    }

    // Text container of project cards

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: em(10px);
        margin: em(10px) em(10px);
    }

    // Image on project cards

    &__img {
        width: 100%;
        height: 300px;
        border-bottom: 1px solid $aqua;
        // border-top-left-radius: em(5px);
        // border-top-right-radius: em(5px);
    }
}