.scs {
    &__section {
        text-align: center;
        background-image: url(../img/singularity.jpg);
        @include background-image-styles();
        min-height: 100vh;
    }

    &__header {
        @include sibling-page-header-styles();
        background-image: url(../img/supernova.jpg);
        @include background-image-styles();
    }

    &__title {
        color: $aqua;
        @include section-title-styles();
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: em(30px);
    }

    &__item {
        @include page-item-div-styles();

        & > p, & > ul > li {
            margin-bottom: em(10px);
        }

    }

    &__treehouse {
        color: $aqua;
        &:hover {
            text-decoration: underline;
        }
    }
}