.scs {
    &__section {
        text-align: center;
        background-image: url(../img/singularity.jpg);
        @include background-image-styles();
        min-height: 100vh; // Only until content is inserted
    }

    &__header {
        @include sibling-page-header-styles();
        background-image: url(../img/supernova.jpg);
        @include background-image-styles();
    }

    &__title {
        color: $aqua;
        border-radius: em(3px);
        background-color: rgba($color: $black, $alpha: 0.5);
        padding: em(5px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: em(30px);
    }

    &__item {
        @include page-item-div-styles();

        & > p, & > ul > li {
            margin-bottom: em(10px);
        }

    }

    &__treehouse {
        color: $aqua;
        &:hover {
            text-decoration: underline;
        }
    }
}