// This partial contains mixins used throughout the project.

// Media query mixin

@mixin media-query ($break) {
	@if $break == "small" {
		@media (min-width: $brkpoint-sm)  {
			@content;
		}
	}
	@else if $break == "medium" {
		@media (min-width: $brkpoint-md) {
			@content;
		}
	}
    @else if $break == "large" {
		@media (min-width: $brkpoint-lg) {
			@content;
		}
	}
	@else if $break == "x-large" {
		@media (min-width: $brkpoint-xl) {
			@content;
		}
	}
	@else {
		@error "Error: No value could be retrieved from argument $break: '#{$break}'";
	}
}

// Basic flex setup

@mixin flex-template {
	display: flex;
	justify-content: center;
}

// Defines the horizontal page headers on all pages except the homepage.

@mixin sibling-page-header-styles {
	height: em(150px);
	border-bottom: 1px solid $aqua;
	display: flex;
	justify-content: center;
	align-items: center;
}

// Styles the hero text on the homepage.

@mixin hero-text-styling {
	width: fit-content;
	padding: em(5px);
	border-radius: em(5px);
	background-color: rgba($color: $black, $alpha: 0.5);
}

// Uses a conditional mixin to apply styles to social icons on vertical header

@mixin social-styles ($type) {
	font-size: em(35px);

	@if $type == 'github' {
		&:hover {
			color: $github;
			text-shadow: 0 0 15px $github;
		}	
	} @else {
		&:hover {
			color: $linkedin;
			text-shadow: 0 0 15px $linkedin;
		}	
	}
}

// Styles the containers for divs (text section) on pages other than the homepage (about, examples, scs)

@mixin page-item-div-styles() {
	background-color: rgba($color: $black, $alpha: 0.5);
	border: 1px solid $aqua;
	border-radius: em(5px);
	padding: em(30px);

	&-title {
		color: $aqua;
		margin-bottom: em(15px);
	}
}

// Applies common styles where background-image rule is used.

@mixin background-image-styles() {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

// Handles the styling of horizontal header titles on all pages

@mixin section-title-styles() {
	font-size: em(30px);
	margin: em(15px) 0;
	padding: em(5px);
	background-color: rgba($color: $black, $alpha: 0.5);
	border-radius: em(5px);
}

// Handles styling of subtitles, such as on the contact form

@mixin section-subtitle-styles() {
	font-size: em(20px);
	margin: em(15px) 0;
	padding: em(5px);
	background-color: rgba($color: $black, $alpha: 0.5);
	border-radius: em(5px);
}
