// This partial contains mixins used throughout the project.

// Media query mixin

@mixin media-query ($break) {
	@if $break == "small" {
		@media (min-width: $brkpoint-sm)  {
			@content;
		}
	}
	@else if $break == "medium" {
		@media (min-width: $brkpoint-md) {
			@content;
		}
	}
    @else if $break == "large" {
		@media (min-width: $brkpoint-lg) {
			@content;
		}
	}
	@else if $break == "x-large" {
		@media (min-width: $brkpoint-xl) {
			@content;
		}
	}
	@else {
		@error "Error: No value could be retrieved from argument $break: '#{$break}'";
	}
}


@mixin flex-template {
	display: flex;
	justify-content: center;
}

@mixin text-decoration-template {
	text-decoration: underline;
	text-decoration-color: $aqua;
	text-shadow: 0 0 10px $aqua;
}

@mixin sibling-page-header-styles {
	height: em(150px);
	border-bottom: 1px solid $aqua;
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin hero-text-styling {
	width: fit-content;
	padding: em(5px);
	border-radius: em(5px);
	background-color: rgba($color: $black, $alpha: 0.5);
}