// This partial contains variables used throughout the project

// Breakpoint values

$brkpoint-sm: 576px;
$brkpoint-md: 768px;
$brkpoint-lg: 992px;
$brkpoint-xl: 1200px;

// Colours

$black: #000;
$white: #fff;

$aqua: #00FFFF;