// This partial contains variables used throughout the project

// Breakpoint values

$brkpoint-sm: 576px;
$brkpoint-md: 768px;
$brkpoint-lg: 992px;
$brkpoint-xl: 1200px;

// Colours

$black: #000;
$white: #fff;

$aqua: #00FFFF;

$linkedin: #0072b1;
$github: #6cc644;

// Font

$base-font-size: 16px;

// Font stacks

$font-url--google: "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap";
$font-family--primary: 'Poppins', sans-serif;

// Font weights

$font-weight--regular: 400;
$font-weight--bold: 600;